.hero{
    width: 100%; 
}
.overlay{
    background: rgba(248, 198, 151, 0.514);
}
.personal-information{
    width: 100%;

}
.personal-attributes{
    
}
.skills{

}
.experince{
    
}
.education{
    
}
.education-parttime{
    
}
.achivements{
    
}
.social{

}
div.profile-image{
    width: 500px;
    margin-top: -180px;
}
img.profile-image {
	max-width:100%;
    height:auto;
    opacity: 0.9;
}
.info-list{
    text-align: center;
    padding-left: 500px;
}